networkx
numpy
openai
python-dotenv
tqdm
pinecone-client
tiktoken
matplotlib
Pillow
scipy
pandas
langchain
langchain-community
langchain-pinecone
langchain-core
langchain-openai
langsmith
langgraph~=0.0.61
pymysql
flask
redis
pypdf
flask-cors
flask
flask-sqlalchemy